<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-8 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
          </ul>
          <ul class="list-unstyled" style="display:inline; padding-right:20px;">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-md-4 attribution">
        {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>

<footer class="site-footer footer-background">
  <div class="max-width"><div class="container">
      <!-- <h2>Site footer</h2> -->
      <ul class="list-footer" style="display: table; margin: 0 auto; padding-bottom: 1em;">
        <li class="legal"><a href="http://www.qld.gov.au/legal/copyright/">Copyright</a></li>
        <li class="legal"><a href="http://www.qld.gov.au/legal/disclaimer/">Disclaimer</a></li>
        <li class="legal"><a href="http://www.qld.gov.au/legal/privacy/">Privacy</a></li>
        <li class="legal"><a href="http://www.qld.gov.au/right-to-information/">Right to information</a></li>
        <li class="legal"><a href="http://www.qld.gov.au/help/access/">Accessibility</a></li>
        <li class="legal"><a href="http://www.smartjobs.qld.gov.au/">Jobs in Queensland Government</a></li>
        <li id="languages" class="legal"><a href="http://www.qld.gov.au/languages/">Other languages</a></li>
      </ul>
      <div class="container">
        <p style="text-align: center;">&copy; The State of Queensland (Department of Natural Resources, Mines &amp; Energy) 2019</p>
      <p style="text-align: center;"><a href="http://www.qld.gov.au/" accesskey="1">Queensland Government</a></p>
      </div>
      <div id="qg-branding"><p style="text-align: center; font-size: 1.5em; margin-left: 1em;"><img class="tagline" src="theme/qg-tagline-footer.png" alt="Great state. Great opportunity."></p></div>
    </div></div>
</footer>
