#qld-gov-header {
     background-size: 100%;
     background-image: url("/header-bg.jpg");
}

.account-masthead {
     background: #3a4249;
}

.site-footer {
     background: #3a4249;
}

.homepage .module-search .module-content {
     background: #3a4249;
}

body {
     background: #3a4249;
}

.footer-background {
     background: #464f57;
}

.legal {
     display: inline;
     padding-right: 20px;
}

/*#464f57*/