#qld-gov-header {
     background-size: 100%;
     background-image: url("/header-bg.jpg");
}

.account-masthead {
     background: #3a4249;
}

.site-footer {
     background: #3a4249;
}

.homepage .module-search .module-content {
     background: #3a4249;
}

body {
background: #3a4249;


}


.label[tag=Seismic],
.label[tag*=Seismic] {
  background-color: #0077ff;
}

.label[tag=Geochemistry],
.label[tag*=Geochemistry] {
  background-color: #ff8c00;
}

.label[data-format=shp],
.label[data-format*=shp] {
  background-color: #76cc00;
}
.label[data-format=tab],
.label[data-format*=tab] {
  background-color: #6d5da3;
}

  .hero, [role=main] {
    background-image: none /*url("/Queensland_Globe.jpg")*/;
  background-repeat: no-repeat; /*repeat-x*/
  background-size: cover;
  background-position: center center;  
  background-attachment: fixed;
  
  /* make everything greyscale 
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%); */
}
}
.hero:after {
  background-color: rgba(0, 0, 0, 0.09);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  /*background-repeat: no-repeat; /*repeat-x
  background-size: cover;
  background-position: center center; */
  background-color: #f6f6f6;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 3px 3px 0 0; 
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.03);
}

.toolbar .breadcrumb a {
    color: white;
    text-shadow: black 0px 0px 5px;
}

.footer-background {
     background: #464f57;
}

.legal {
     display: inline;
     padding-right: 20px;
}

/*#464f57*/


.footer-connect {
  padding: 20px 0;
  background: #327085;
  color: white; }
  .footer-connect .flex {
    display: flex;
    justify-content: space-around; }
    .footer-connect .flex > div {
      width: 30%;
      display: flex;
      align-items: center; }
    .footer-connect .flex ul {
      list-style: none; }
    .footer-connect .flex a:link,
    .footer-connect .flex a:active,
    .footer-connect .flex a:visited {
      color: #fff;
      text-decoration: none; }
    .footer-connect .flex a:focus,
    .footer-connect .flex a:hover {
      outline: none;
      text-decoration: underline; }
  .footer-connect .feedback p {
    padding-right: 20px;
    position: relative; }
    .footer-connect .feedback p::before, .footer-connect .feedback p::after {
      display: block;
      position: absolute;
      right: 0;
      content: '';
      width: 12px;
      height: 4px;
      border-radius: 3px;
      background: #fff;
      transition: all .3s ease; }
    .footer-connect .feedback p::before {
      top: 7px;
      transform: rotate(45deg); }
    .footer-connect .feedback p::after {
      top: 13px;
      transform: rotate(-45deg); }
    .footer-connect .feedback p.open::before {
      top: 10px;
      transform: rotate(-45deg);
      right: -6px; }
    .footer-connect .feedback p.open::after {
      top: 10px;
      transform: rotate(45deg); }
    .footer-connect .feedback p:hover {
      text-decoration: underline;
      cursor: pointer; }
  .footer-connect .share p {
    margin-right: 20px; }
  .footer-connect .share svg {
    height: 30px;
    width: 37px;
    fill: #fff;
    opacity: .8;
    transition: opacity .2s ease; }
  .footer-connect .share a:focus svg,
  .footer-connect .share a:hover svg {
    opacity: 1; }

.inner {
  width: 95%;
  max-width: 125rem;
  margin: 0 auto; }

.footer-content {
  padding: 20px 0;
  background: #134758;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }
  .footer-content ul {
    list-style: none; }
  .footer-content .flex {
    display: flex;
    justify-content: space-around; }
    .footer-content .flex > div {
      width: 30%; }
  .footer-content h3 {
    padding: 10px 0;
    border-bottom: 1px solid #327085;
    font-size: 20px;
    font-weight: 400; }
  .footer-content .about-us ul {
    display: flex;
    flex-wrap: wrap; }
  .footer-content .about-us li {
    width: 50%; }
  .footer-content a:link,
  .footer-content a:active,
  .footer-content a:visited {
    padding: 15px 0;
    display: block;
    color: #fff;
    text-decoration: none; }
  .footer-content a:focus,
  .footer-content a:hover {
    outline: none;
    text-decoration: underline; }

footer ul {
  list-style: none; }

footer .links {
  font-size: 14px;
  font-weight: 350;
  line-height: 21px; }
  footer .links ul {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  footer .links li.find-contacts {
    cursor: pointer; }
    footer .links li.find-contacts:hover {
      text-decoration: underline; }
  footer .links li:not(:last-child)::after {
    content: '|';
    margin: 0 10px;
    display: inline-block; }
  footer .links a:link,
  footer .links a:active,
  footer .links a:visited {
    text-decoration: none;
    color: #000; }
  footer .links a:focus,
  footer .links a:hover {
    text-decoration: underline; }

footer .copyright {
  padding-bottom: 20px;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  line-height: 16px; 
  color: black;
}

footer {
	color: black;
	background-color: white;
}

@media only screen and (max-width: 768px) {
  .footer-content .flex {
    flex-wrap: wrap; }
    .footer-content .flex > div {
      width: 100%; } }

@media only screen and (max-width: 768px) {
  .footer-connect .flex {
    flex-wrap: wrap;
    text-align: center; }
    .footer-connect .flex > div {
      width: 100%; } }

